
* {
  border: 1px solid black;
}

body {
  background: pink;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.a {
  height: 120px;
  display: inline-flex;
  position: relative;
  justify-content: space-evenly;
  width: 100%;
}

.b, .c, .d, .e, .f, .g {
  display: inline-flex;
  position: relative;
  flex-wrap: wrap;
  width: 32.31%;
  height: 120px;
  justify-content:space-evenly;
}

.h {
  height: 280px;
  display: inline-flex;
  justify-content:space-around;
  width: 100%;
}
