* {
  border: 1px solid lightcoral;
}

body {
  background: blanchedalmond;
}

.container{
  display: flex;
  min-height: 20vh;
  flex-direction: column;
  justify-content: space-between;
}

.a {
  background-color: red;
  min-height: 20vh;
}

.b {
  background-color: black;
  min-height: 50vh;
}

.c {
  background-color: chartreuse;
  min-height: 20vh;
}

@media (min-width: 600px){ 
  .container {
    flex-direction: column;
  }
  .a {
    background-color: red;
    min-height: 20vh;
    min-width: 100%;
  }
  .b {
    background-color: black;
    min-height: 60vh;
    min-width: 79%;
  }
  .c {
    background-color: chartreuse;
    min-height: 60vh;
    min-width: 19%;
  }
}